/* Hero Section */

#hero-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 50vh;
  background-image: url(https://i.postimg.cc/JhCR4Z4Q/photo-1461749280684-dccba630e2f6.jpg);
}

/* Everything on the left */

#grid-item-left {
  grid-area: 1 / 2 / 1 / 3;
  height: 50vh;
  text-align: center;
  color: white;
  background-color: rgb(32, 31, 31);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#name {
  font-family: "DM Sans", sans-serif;
  font-size: 30px;
}

#liz-selfie {
  border-radius: 400px;
  height: 300px;
}

#intro {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  padding: 5px;
}

/* Everything on the right */

#grid-item-right {
  grid-area: 1 / 3 / 1 / 4;
  background-color: white;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#softdev {
  font-family: "DM Sans", sans-serif;
  font-size: 50px;
}

#hero-git {
  margin-bottom: 50px;
  width: 70px;
  height: 70px;
}

@keyframes twirlygit {
  0% {
  }

  25% {
    transform: rotate3d(0, 25, 0, 500deg);
  }

  50% {
  }
  100% {
  }
}

#hero-git:hover {
  animation-name: twirlygit;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.button {
  font-family: "DM Sans", sans-serif;
  background-color: rgb(32, 31, 31);
  border-radius: 5px;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 16px;
}

.button:hover {
  background-color: rgb(56, 56, 255);
  color: white;
}

/* Hero responsive design for 1440px */

@media (max-width: 1440px) {
  #hero-grid {
    height: 40vh;
  }

  #grid-item-left {
    height: 40vh;
  }

  #grid-item-right {
    height: 40vh;
  }

  #intro {
    margin-left: 20px;
    margin-right: 20px;
  }

  .button {
    margin-bottom: 40px;
  }

  #liz-selfie {
    height: 250px;
  }
}

/* Hero responsiveness for 1024px */

@media (max-width: 1024px) {
  #grid-item-left {
    width: 350px;
  }

  #grid-item-right {
    width: 350px;
  }
}

/* Hero responsiveness for 768px */

@media (max-width: 768px) {
  #hero-grid {
    background-image: linear-gradient(
      to bottom,
      #3838ff,
      #c700cb,
      #f70098,
      #ff4972,
      #ff7d60,
      #ff9377,
      #ffa890,
      #ffbca9,
      #ffcace,
      #fedceb,
      #faeffa,
      #ffffff
    );
  }

  #grid-item-left {
    color: black;
    background-color: transparent;
  }

  #grid-item-right {
    background-color: transparent;
  }

  #name {
    color: white;
  }

  #softdev {
    color: white;
  }

  #liz-selfie {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .button {
    margin-bottom: 45px;
  }

  #softdev {
    font-size: 40px;
  }

  #name {
    font-size: 40px;
  }
}

/* Hero responsiveness for 425px */

@media (max-width: 425px) {
  #hero-grid {
    grid-template-columns: 1fr;
    height: auto;
  }

  #grid-item-left,
  #grid-item-right {
    grid-area: unset;
    width: 100%;
    text-align: center;
  }

  #intro {
    color: white;
    font-size: 20px;
  }

  #softdev {
    font-size: 30px;
  }
}

/* Skills Section */

.section-header {
  font-family: "DM Sans", sans-serif;
  font-size: 40px;
  text-align: center;
}

.skills-flexbox-container {
  display: flex;
}

.skills-flexbox-item {
  flex: 1;
  padding: 20px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
}

/* Skills responsiveness for 425px */

@media (max-width: 425px) {
  .skills-flexbox-container {
    flex-direction: column;
  }

  .section-header {
    font-size: 26px;
  }
}

/* Resume Section */

.resume-flexbox-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  font-family: "DM Sans", sans-serif;
}

.article-header {
  font-size: 40px;
}

.article-sub-heading {
  color: rgb(56, 56, 255);
}

.left-column {
  flex: 1;
  padding: 20px;
}

.upper-right-subcolumn {
  flex: 1;
  background-image: radial-gradient(
    circle,
    #3838ff,
    #b300d5,
    #e400a9,
    #fa0080,
    #ff315f,
    #ff595c,
    #ff765e,
    #ff8f66,
    #ffa482,
    #ffb89f,
    #fecdbc,
    #f9e1d9
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 20px;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#small-text {
  font-size: 20px;
  margin-top: -70px;
  margin-bottom: 20px;
  font-family: "Indie Flower", cursive;
}

.right-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
}

/* Resume section responsiveness for 768px */

@media (max-width: 768px) {
  .upper-right-subcolumn {
    display: none;
  }
  .resume-flexbox-container {
    flex-direction: column;
  }
}

/* Resume responsiveness for 425px */

@media (max-width: 425px) {
  .resume-flexbox-container {
    flex-direction: column;
  }

  .upper-right-subcolumn {
    display: block;
  }

  .article-header {
    font-size: 26px;
  }

  .article-sub-heading {
    font-size: 20px;
  }
}

/* Resume responsiveness for 350px */

@media (max-width: 320px) {
  .upper-right-subcolumn {
    display: none;
  }
}

/* Socials Section */

.socials-grid-container {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  margin-bottom: 50px;
  align-items: center;
  text-align: center;
}

.socials-grid-item-1 {
  grid-area: 1 / 7 / 1 / 8;
}

.socials-grid-item-2 {
  grid-area: 1 / 8 / 1 / 9;
}

.socials-grid-item-3 {
  grid-area: 1 / 9 / 1 / 10;
}

.logo-sizing {
  width: 70px;
  height: 70px;
}

/* ANIMATIONS */

@keyframes twirlygit {
  0% {
  }

  25% {
    transform: rotate3d(0, 25, 0, 500deg);
  }

  50% {
  }
  100% {
  }
}

#git-logo:hover {
  animation-name: twirlygit;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes twirlylink {
  0% {
  }

  25% {
    transform: rotate3d(0, 25, 0, 500deg);
  }

  50% {
  }
  100% {
  }
}

#link-logo:hover {
  animation-name: twirlylink;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes twirlyinsta {
  0% {
  }

  25% {
    transform: rotate3d(0, 25, 0, 500deg);
  }

  50% {
  }
  100% {
  }
}

#insta-logo:hover {
  animation-name: twirlyinsta;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

/* Logo responsiveness for 1024px */

@media (max-width: 1024px) {
  .logo-sizing {
    width: 50px;
    height: 50px;
  }
}

/* Logo responsiveness for 768px */

@media (max-width: 1024px) {
  .logo-sizing {
    width: 40px;
    height: 40px;
  }
}

/* Logo responsiveness for 425px */

@media (max-width: 425px) {
  .socials-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .socials-grid-item-1 {
    grid-area: 1 / 1 / 1 / 2;
  }

  .socials-grid-item-2 {
    grid-area: 1 / 2 / 1 / 3;
  }

  .socials-grid-item-3 {
    grid-area: 1 / 3 / 1 / 3;
  }
}

/* Email */

#email-addy {
  font-family: "Indie Flower", cursive;
  text-align: center;
}

/* Email responsivenesss for 425px */

@media (max-width: 425px) {
  #email-addy {
    font-size: 26px;
  }
}

/* Form */

.form-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin-left: 33.333333333333vw;
  margin-right: 33.333333333333vw;
}

.form-item {
  font-family: "DM Sans", sans-serif;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
  margin-top: 5px;
  font-size: 16px;
}

input[type="submit"] {
  margin-bottom: 20px;
}

/* Form responsiveness for 1024px */

@media (max-width: 1024px) {
  .form-grid {
    margin-left: 300px;
    margin-right: 300px;
  }
}

/* Form responsiveness for 769px */

@media (max-width: 1024px) {
  .form-grid {
    margin-left: 200px;
    margin-right: 200px;
  }
}

/* Form responsiveness for 425px */

@media (max-width: 425px) {
  .form-grid {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* FOOTER BG IMAGE */

#bg-img {
  background-image: linear-gradient(
    to top,
    #ff9157,
    #ff9c90,
    #ffb1c2,
    #ffcae6,
    #fce3fb,
    #faedff,
    #fbf7ff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff
  );
}

/* BACK TO TOP BUTTON */

.btt-img {
  width: 30px;
  height: 30px;
}

button {
  width: 30px;
  height: 30px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: none;
  border: none;
}

/* Back-to-top responsiveness for 425px */

@media (max-width: 425px) {
  button {
    right: 20px;
    bottom: 20px;
  }

  .btt-img {
    width: 20px;
    height: 20px;
  }
}
